    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Localización</h3>
                        <p>C/Avenida de los Milagros<br> El Puntal, Padul (Granada), 18640</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Enlaces Adicción TIC</h3>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="http://adicciontic.es/" class="btn-social btn-outline"><i class="fa fa-fw fa-globe"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/AdiccionTIC/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/b/115097431710800927114/115097431710800927114" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Adiccion_TIC" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC9JqnVnYyuX383G4g-AadSg" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="http://adicciontic.tumblr.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Creado por</h3>
                        <p>Miguel Ángel García Villegas</p>
                        <a href="/static/como_se_hizo.pdf"><h5>Haga clic aquí para ver COMO SE HIZO</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Adicción TIC - MAGV 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
