{% load staticfiles %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" id="menu-toggle" href="#menu-toggle">Adicción TIC</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#">Home</a>
                        </li>
                        {% if 'username' not in request.session %}
                        <li>
                            <a class="page-scroll" href="#">Registrar</a>
                        </li>
                        {% endif %}
                        {% if 'username' in request.session %}
                            <div class="navbar-form navbar-right dropdown" role="search">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ request.session.username }}
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Log out</a></li>
                                  </ul>
                            </div>
                        {% else %}
                        <form class="navbar-form navbar-right" role="search" action="#" method="post">{% csrf_token %}
                            <div class="form-group">
                                {{ formLogin.User }}
                            </div>
                            <div class="form-group">
                                {{ formLogin.Password }}
                            </div>
                            <button type="submit" class="btn btn-default">Sign In</button>
                        </form>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>